.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.translates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 90%;
  height: 80%;

  @media (max-width: 760px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.translate {
  width: 45%;
  min-height: 33vh;
  margin: 10px;
  border: 1px solid aqua;
  border-radius: 16px;

  @media (max-width: 760px) {
    width: 80vw;
    min-height: 25vh;
  }
}

.translateHeader {
  font-size: 22px;
  font-weight: 600;
  color: aqua;
  border-bottom: 1px solid aqua;
  border-radius: 10px;
  text-align: center;
  height: 30px;
}

.translateHeader::first-letter {
  text-transform:capitalize;
}

.translateItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.translateItem {
  padding: 3px;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
}

.translateItem b {
  color: blanchedalmond;
  text-decoration: underline;
}

.translateItem:first-child {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: greenyellow;
}

.translateItem:first-child::first-letter {
  text-transform: capitalize;
}

.button {
  height: 60px;
  width: 160px;
  border-radius: 20px;
  font-size: 18px;
  background-color: aqua;
}

.next {
  background-color: greenyellow;
}

.back {
  margin-top: 20px;
  color: aqua;
  background-color: dimgray;
}

@media (max-width: 760px) {
  .translate:last-child {
    display: none;
  }
}
